:root {
  --accent: #3c91e6;
  --white: #fbfefb;
  --black: #000000;
  --green: rgb(113, 209, 34);
  --red: #ca3a3a;
}

header {
  font-family: "Roboto Mono", "Open Sans", sans-serif;
  font-weight: normal;
  color: var(--white);
  background-color: var(--green);
  margin: 0;
  padding: 10px;
}

.nav-container a {
  color: black;
  text-decoration: none;
}

h1 {
  font-family: "Roboto Mono", "Open Sans", sans-serif;
}

.logo {
  height: 30px;
  width: 30px;
  margin: 0 auto;
  padding-left: 20px;
}

.main {
  text-align: center;
}

#whatToDo {
  padding: 4px;
  margin: 4px;
}

li {
  padding: 5px;
}

.create {
  background-color: lightgreen;
  padding: 20px;
}

#create-btn {
  background-color: #4caf50;
  color: white;
  padding: 4px 8px;
  border: 1px solid black;
  border-radius: 5px;
}

#remove-btn {
  background-color: var(--red);
  color: white;
  padding: 4px 8px;
  border: 1px solid black;
  border-radius: 5px;
}

.list.open {
  background-color: lightskyblue;
  padding: 20px;
  text-decoration: none;
}

.list.done {
  background-color: rgb(248, 250, 135);
  padding: 20px;
  text-decoration: none;
  height: 700px;
}

.todoContent {
  margin: 10px;
  border: 2px solid gray;
  padding: 4px;
}

#open {
  width: 100%;
}

#open > li {
  background-color: rgb(43, 198, 209);
  text-decoration: line-through;
  border: none;
  outline: none;
  padding: 5px;
  margin: 5px;
  /* width: 100%; */
}

#done {
  width: 100%;
}

#done > li {
  background-color: rgb(219, 192, 73);
  text-decoration: line-through;
  border: none;
  outline: none;
  padding: 5px;
  margin: 5px;
}

#done .todoContent {
  background-color: inherit;
  text-decoration: line-through;
  border: none;
  outline: none;
}

.footer {
  background-color: lightsalmon;
  padding: 20px;
}

ul {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
ul > li {
  -moz-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  list-style-type: none;
}

#whatToDo:not(valid) {
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 20px 20px;
}

/* Show green borders when valid */
#whatToDo:valid {
  background-color: inherit;
  background: url(img/clever.png);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 20px 20px;
}

#alert-danger {
  color: #b63e33;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  padding-bottom: 10px;
  font-family: "Roboto Mono", "Open Sans", sans-serif;
}
